/*
   Author: CSE327
   Theme: Cleaning service
   virsion:1.0
*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius:15px ;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: blueviolet;
}
.clearfix{
    clear: both;
    float: none;
}

a{
    color: rgb(0, 225, 255);
    text-decoration: none;
}
a:hover{
    color: rgb(0, 60, 255);
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color:  rgb(0, 225, 255);
    color: blanchedalmond;
    cursor: pointer;
}
.btn-primary:hover{
    color: blanchedalmond;
    background-color:rgb(0, 60, 255) ;
}
h2{
    color: rgb(0, 225, 255) ;
    font-size: 2rem;
    margin-bottom: 2%;
}
.h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 5px;
    left: 40%;
}
/* CSS for Navbar sevtion*/
.navber{
    background-color: gainsboro;  
}
.my-logo{
    font-size: 1.2rem;
    font-style: inherit;
    
}
.menu{
    line-height: 2px;
}
.menu ul{
     list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
/* css for service search section*/
.service-search{
    background-image: url(../images/Top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.service-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* css for Service catagories*/
.Service-Catagory{
    padding: 4% 0;
}

.box-4{
    
    width: 20%;
    float: left;
    margin: 2%;
}

/* css for top service*/
.Top-Service{
    background-color: gainsboro;
    padding: 2% 0;
}
.top-service-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: wheat;
    border-radius: 15px;
}
.top-service-img{
    width: 20%;
    float: left;
}
.top-service-desc{
    width: 70%;
    float: left;
    margin-left:8%;
}
.service-price{
    font-size: 1.2rem;
    margin:2% 0;
}
.service-detail{
    font-size: 1rem;
    color: grey;
}

/*css for social section*/
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}